h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  margin: 25px 0; 
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}

p {
  line-height: 1.4;
}

.button {
  background-color: #fe5f55;
  padding: 8px 20px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 5px solid #BDD5EA;
  padding: 25px;
}

:focus {
  outline:none;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;

}

img {
  display: block; 
  max-width: 100%;

}

section {
  overflow: auto;
}

.wrap {
  max-width: 1280px;
  padding: 50px
}

/**** HOMEPAGE ****/

header {
  text-align: center; 
  color:#ffffff;
  padding: 80 px, 0;
}

header img {
  margin: 0 auto;
  width: 100px;
  border: 4px solid #ffff;
  padding: 3px;
  border-radius: 50%;
}

.benefits, .tickets, .conclusion {
  display: block;
  background-color: #bdd5ea;
  margin: 0, 0;
  border-top: dashed;
  border-bottom: dashed;
  border-width: thin;
}

section#three-points {
  background: url('/images/swirl.png');
  background-repeat: repeat;
}

.three-points-section {
  min-height: 400px;
  margin: 0 auto;
  border-radius: 50%;
}

.three-points-section img {
  width: 300px;
  margin: 0 auto;
  border-radius: 50%;
}

.three-points-section img:hover {
  border: 2px solid #495867;
  padding: 3px;
}

.three-points-section-image {
  width: 40%;
  float: left;
}

.three-points-section-text {
  width: 60%;
  float: left;
}

section#tickets {
  background: #BDD5EA;
  border-top: 1px dashed #495867;
  border-bottom: 1px dashed #495867;
  text-align: center;
}

section#tickets table {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 25px;
}

section#tickets table th {
  background: #495867;
  color: #ffffff;
}

section#tickets table td {
  background: #ffffff;
}

section#speakers .wrap {
  overflow: auto;
}

section#speakers h3 {
  text-align: center;
}

.speakers-column-1 {
  float: left;
  width: 49%;
  background: url('/images/swirl.png');
  border: 1px solid #efefef;
  box-shadow: 2px 2px #efefef;
}

.speakers-column-2 {
  float: right;
  width: 49%;
  background: url('/images/swirl.png');
  border: 1px solid #efefef;
  box-shadow: 2px 2px #efefef;
}

.speakers-column-1 h4, .speakers-column-2 h4 {
  text-align: center;
}

.speakers {
  clear: both;
  min-height: 300px;
}

.speakers-section {
  min-height: 300px;
}

.speakers-section img {
  width: 150px;
  margin: 0 auto; 
}

.speakers-image {
  width: 50%;
  float: left;
}

.speakers-image img {
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
}

.speakers-image img:hover {
  border: 2px solid #495867;
  padding: 3px;
}

.speakers-text {
  width: 50%;
  float: left;
}

.speakers-text div {
  font-weight: bold;
}

section#conclusion {
  background: #BDD5EA;
  border-top: 1px dashed #495867;
  text-align: center;
}

section#conclusion .button {
  line-height: 3;
}

footer {
  color: #ffffff;
  text-align: center;
  background-color: #495867;
  padding: 20px;
}



/****TICKETS PAGE****/

.form h1 {
  text-align: center;
}

#form {
  margin: 0 auto;
  text-align: center;
}

#form form {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  width: 400px;
  background: url('/images/swirl.png');
  border: 1px solid #efefef;
  box-shadow: 2px 2px #efefef;
}

#form form label {
  display: none;
}

#form form .input {
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

#form form .dropdown {
  padding: 6px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #dedede;
  width: 200px;
}

#form form .dropdown select {
  border: none;
  background-color: #fff;
  width: 100%;
}

#form form [type="checkbox"] {
  margin-right: 10px;
}

#form form input[type="submit"] {
  background-color: #fe5f55;
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
} 

/**** MEDIA QUERIES ****/

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 24 px;
  }

}

@media only screen and (max-width: 479px) {

}

